.textboxChild {
  position: absolute;
  top: 26px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 317px;
  height: 50px;
}
.text,
.text1,
.textbox {
  position: absolute;
  top: 43px;
  left: 16px;
}
.text1,
.textbox {
  top: 0;
  left: 3px;
  color: var(--color-darkslateblue-200);
}
.textbox {
  top: 254px;
  left: 29px;
  width: 317px;
  height: 76px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-500);
  font-family: var(--font-dm-sans);
}
