.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.lineIcon {
  top: 12px;
  left: 2.8px;
  max-height: 100%;
  width: 18.2px;
  object-fit: contain;
}
.back,
.lineIcon,
.text {
  position: absolute;
}
.back {
  top: 30px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.text {
  top: 50px;
  left: 162px;
  font-size: var(--font-size-xl);
}
.lastUpdateChild {
  position: absolute;
  top: 31px;
  left: 325px;
  width: 10px;
  height: 10px;
  object-fit: contain;
}
.text1,
.text2,
.text3 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.text2,
.text3 {
  top: 127px;
  left: 3px;
}
.text3 {
  top: 225px;
  left: 4px;
}
.lastUpdate,
.text4 {
  position: absolute;
  top: 483px;
  left: 4px;
  font-family: var(--font-dm-sans);
}
.lastUpdate {
  top: 124px;
  left: 20px;
  width: 335px;
  height: 501px;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.buttonIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 245px;
  height: 50px;
}
.text5 {
  position: absolute;
  top: 17px;
  left: 81px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button1,
.menuBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 245px;
  height: 50px;
}
.menuBar {
  top: 732px;
  left: 65px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.textbox,
.textbox1,
.textbox2 {
  position: absolute;
  top: 170px;
  left: 24px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 331px;
  height: 50px;
}
.textbox1,
.textbox2 {
  top: 283px;
  background-color: var(--color-gray-100);
}
.textbox2 {
  top: 384px;
}
.text6,
.text7,
.text8,
.text9 {
  position: absolute;
  top: 187px;
  left: 57px;
}
.text7,
.text8,
.text9 {
  top: 300px;
}
.text8,
.text9 {
  top: 399px;
}
.text9 {
  top: 452px;
  left: 24px;
  font-size: var(--font-size-sm);
  display: inline-block;
  white-space: pre-wrap;
  width: 102px;
  height: 24px;
}
.hybrid,
.text10 {
  position: absolute;
  top: 0;
  left: 0;
}
.hybrid {
  top: 495px;
  left: 56px;
  width: 115px;
  height: 16px;
  color: var(--color-slategray-100);
}
.buttonhover,
.text11 {
  position: absolute;
  top: 1px;
  left: 33px;
}
.buttonhover {
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1.5px solid var(--color-slategray-100);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.button2,
.filterChild,
.remote {
  position: absolute;
  left: 23px;
  height: 18px;
}
.remote {
  top: 530px;
  width: 139px;
  color: var(--color-slategray-100);
}
.button2,
.filterChild {
  top: 495px;
  width: 18px;
}
.button2 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-peachpuff);
  backdrop-filter: blur(4px);
  width: 107px;
  height: 28px;
  opacity: 0.2;
}
.text12 {
  position: absolute;
  top: 7px;
  left: 32px;
  display: inline-block;
  width: 42px;
  height: 14px;
}
.seniorDesigner {
  position: absolute;
  top: 644px;
  left: 16px;
  width: 107px;
  height: 28px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-200);
}
.text13 {
  position: absolute;
  top: 7px;
  left: 32px;
  display: inline-block;
  width: 51px;
  height: 14px;
}
.button4,
.seniorDesigner1 {
  position: absolute;
  height: 28px;
}
.seniorDesigner1 {
  top: 644px;
  left: 132px;
  width: 107px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-200);
}
.button4 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-peachpuff);
  backdrop-filter: blur(4px);
  width: 99px;
  opacity: 0.2;
}
.text14 {
  position: absolute;
  top: 7px;
  left: 30px;
  display: inline-block;
  width: 42px;
  height: 14px;
}
.seniorDesigner2 {
  position: absolute;
  top: 644px;
  left: 248px;
  width: 99px;
  height: 28px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-200);
}
.filter {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-300);
  font-family: var(--font-dm-sans);
}
