.textboxIcon {
  position: absolute;
  top: 26px;
  left: 9px;
  border-radius: var(--br-7xs);
  width: 317px;
  height: 50px;
}
.text,
.text1 {
  position: absolute;
  top: 43px;
  left: 25px;
}
.text1 {
  top: 0;
  left: 0;
  color: var(--color-darkslateblue-200);
}
.textbox {
  top: 396px;
  left: 20px;
  width: 326px;
  height: 76px;
  color: var(--color-darkslateblue-500);
}
.button1,
.text2,
.textbox {
  position: absolute;
}
.button1 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 62px rgba(153, 171, 198, 0.18);
  width: 317px;
  height: 50px;
}
.text2 {
  top: 17px;
  left: 91px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: inline-block;
  width: 160.9px;
}
.button,
.button3 {
  position: absolute;
  width: 317px;
  height: 50px;
}
.button {
  top: 501px;
  left: 29px;
  font-size: var(--font-size-sm);
}
.button3 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightblue-100);
}
.text3 {
  top: 16px;
  left: 97px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: inline-block;
  width: 125px;
}
.button2,
.text3,
.text4 {
  position: absolute;
}
.button2 {
  top: 580px;
  left: 29px;
  width: 317px;
  height: 50px;
  font-size: var(--font-size-sm);
}
.text4 {
  top: 140px;
  left: calc(50% - 157.5px);
  line-height: 160%;
  color: var(--color-slategray-100);
  text-align: center;
  display: inline-block;
  width: 314px;
}
.text5 {
  top: 90px;
  left: calc(50% - 127.5px);
  font-size: var(--font-size-11xl);
  color: var(--color-darkslateblue-200);
}
.imege1,
.imege2,
.text5 {
  position: absolute;
}
.imege1 {
  top: 6px;
  left: 13px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslateblue-200);
  width: 82px;
  height: 82px;
}
.imege2 {
  top: 64.2px;
  left: 52.4px;
  border-radius: 50%;
  border: 5px solid var(--color-white);
  box-sizing: border-box;
  width: 20.1px;
  height: 20.1px;
  transform: rotate(-165deg);
  transform-origin: 0 0;
}
.imegeIcon,
.imegeIcon1,
.imegeIcon2 {
  position: absolute;
  top: 29px;
  left: 53.6px;
  width: 22.4px;
  height: 22.3px;
  object-fit: contain;
}
.imegeIcon1,
.imegeIcon2 {
  top: 36px;
  left: 72px;
  width: 2.5px;
  height: 4.3px;
}
.imegeIcon2 {
  top: 40.2px;
  left: 64.7px;
}
.imege3,
.imege4 {
  position: absolute;
  border-radius: var(--br-81xl);
  width: 42px;
  height: 42px;
}
.imege3 {
  top: 3px;
  left: 5px;
  background-color: #4c407b;
  opacity: 0.5;
}
.imege4 {
  top: 0;
  left: 0;
  background-color: var(--color-darkorange);
}
.imege5,
.imegeIcon3 {
  position: absolute;
  top: 7px;
  left: 16px;
}
.imegeIcon3 {
  height: 100%;
  width: 45.01%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 54.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.imege {
  position: absolute;
  top: 230px;
  left: 128px;
  width: 118.2px;
  height: 93.8px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.forgotPassword {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
