.removeIcon {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.jobTitleChild,
.text {
  position: absolute;
  left: 0;
}
.text {
  top: 0;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue-200);
}
.jobTitleChild {
  top: 26px;
  border-radius: var(--br-3xs);
  width: 335px;
  height: 40px;
}
.text1,
.text2 {
  position: absolute;
  top: 38px;
  left: 20px;
}
.text2 {
  top: 0;
  left: 0;
  color: var(--color-midnightblue-200);
}
.company,
.company1,
.jobTitle,
.startDateChild {
  position: absolute;
  top: 52px;
  left: 0;
  width: 335px;
  height: 66px;
}
.company,
.company1,
.startDateChild {
  top: 138px;
}
.company1,
.startDateChild {
  top: 224px;
}
.startDateChild {
  top: 26px;
  border-radius: var(--br-3xs);
  width: 160px;
  height: 40px;
}
.startDate1,
.startDateItem {
  position: absolute;
  top: 310px;
  left: 0;
  width: 160px;
  height: 66px;
}
.startDateItem {
  top: 0;
  border-radius: var(--br-8xs);
  width: 24px;
  height: 24px;
}
.startDateInner {
  position: absolute;
  top: 5.8px;
  left: 7.8px;
  width: 9.6px;
  height: 9.6px;
  object-fit: contain;
}
.text9 {
  position: absolute;
  top: 4px;
  left: 47px;
}
.descriptionChild,
.startDate2 {
  position: absolute;
  top: 396px;
  left: 0;
  width: 177px;
  height: 24px;
}
.descriptionChild {
  top: 26px;
  border-radius: var(--br-3xs);
  width: 335px;
  height: 155px;
}
.description,
.text10 {
  position: absolute;
  top: 43px;
  left: 20px;
}
.description {
  top: 440px;
  left: 0;
  width: 335px;
  height: 181px;
  color: var(--color-darkgray-200);
}
.addEducation,
.endDate {
  position: absolute;
  top: 310px;
  left: 175px;
  width: 160px;
  height: 66px;
}
.addEducation {
  top: 94px;
  left: 20px;
  width: 335px;
  height: 621px;
  color: var(--color-dimgray-200);
}
.saveChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue-100);
  width: 160px;
  height: 50px;
}
.save1 {
  position: absolute;
  top: 16px;
  left: 61px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.removeChild,
.save {
  position: absolute;
  top: 0;
  left: 175px;
  width: 160px;
  height: 50px;
}
.removeChild {
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lightblue-100);
}
.remove1 {
  position: absolute;
  top: 16px;
  left: 53px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.buttonRemoveSave,
.remove {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 50px;
}
.buttonRemoveSave {
  top: 742px;
  left: 20px;
  width: 335px;
  font-size: var(--font-size-sm);
}
.endDateItem,
.popUpChild {
  position: absolute;
  top: 0;
  left: 0;
}
.popUpChild {
  background-color: var(--color-darkslategray-300);
  width: 375px;
  height: 812px;
  opacity: 0.6;
}
.endDateItem {
  border-radius: var(--br-xl);
  width: 335px;
  height: 449px;
}
.lineIcon {
  position: absolute;
  top: 172px;
  left: 166px;
  max-width: 100%;
  overflow: hidden;
  height: 78px;
}
.button1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue-100);
  box-shadow: 0 4px 62px rgba(153, 171, 198, 0.18);
  width: 217px;
  height: 50px;
}
.text14 {
  position: absolute;
  top: 17px;
  left: 88px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: inline-block;
  width: 42px;
}
.button,
.button3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 217px;
  height: 50px;
}
.button3 {
  border-radius: var(--br-7xs);
  background-color: var(--color-lightblue-100);
}
.text15 {
  position: absolute;
  top: 16px;
  left: 78px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: inline-block;
  width: 62px;
}
.button2,
.buttonRemoveSave1 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 217px;
  height: 50px;
}
.buttonRemoveSave1 {
  top: 319px;
  left: 59px;
  height: 110px;
  font-size: var(--font-size-sm);
  font-family: var(--font-dm-sans);
}
.sepChild {
  position: absolute;
  top: 108px;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-sandybrown-100);
  width: 108px;
  height: 50px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.text16 {
  top: 45px;
  left: 12px;
  font-weight: 600;
}
.octChild,
.sep,
.text16 {
  position: absolute;
}
.sep {
  top: 0;
  left: 35px;
  width: 50px;
  height: 108px;
  font-size: var(--font-size-sm);
}
.octChild {
  top: 52px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-silver-100);
  width: 52px;
  height: 30px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  opacity: 0.6;
}
.text17 {
  top: 19px;
  left: 6px;
  font-weight: 600;
}
.oct,
.text17,
.text18 {
  position: absolute;
}
.oct {
  top: 28px;
  left: 90px;
  width: 30px;
  height: 52px;
}
.text18 {
  top: 19px;
  left: 5px;
  font-weight: 600;
}
.oct1 {
  top: 28px;
  left: 0;
  width: 30px;
  height: 52px;
}
.mount,
.oct1,
.text19 {
  position: absolute;
}
.mount {
  top: 154px;
  left: 30px;
  width: 120px;
  height: 108px;
}
.text19 {
  top: 19px;
  left: 4px;
  font-weight: 600;
}
.text21 {
  top: 45px;
  left: 9px;
  font-weight: 600;
}
.text21,
.text22,
.year {
  position: absolute;
}
.year {
  top: 154px;
  left: 185px;
  width: 120px;
  height: 108px;
}
.text22 {
  top: 75px;
  left: 132px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-500);
}
.lineIcon1 {
  position: absolute;
  top: 25px;
  left: 153px;
  max-height: 100%;
  width: 30px;
}
.endDate1,
.popUp {
  position: absolute;
  top: 198px;
  left: 20px;
  width: 335px;
  height: 449px;
}
.popUp {
  top: -1px;
  left: 0;
  width: 375px;
  height: 812px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-open-sans);
}
.startDate {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
